    *{
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
        background-color: #ffffff;  
    }

    .logo-nav{
        width: 50%;
        max-width: 80px;
    }

    .logo-judul{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        Font-family: 'Quicksand', sans-serif;
    }

    nav {
        background-color: #34468D;
        justify-content: space-between;
        align-items: center;
        border: 2px #000000 solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        margin: 10px;
        position: sticky;
        padding: 10px;
        top: 0;
        border-radius: 10px;
    }

    nav li {
        display: inline-block;
        list-style-type: none;
        margin: 10px;
    }

    nav a{
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        Font-family: 'Quicksand', sans-serif;
    }

    nav h3{
        font-size: 50px;
        font-weight: bold;
    }

    .input-SearchBar{
        Font-family: 'Quicksand', sans-serif;
        border-radius: 10px;
        background-color: #9dabe5;
        padding: 5px;
        margin: 10px;
        color: #000000;
    }

    .input-SearchBar::-webkit-input-placeholder{
        color: #000000;
    }

    .SearchBar {
        float: right;
        margin: 10px;
        margin-top: -2px;
        width: 250px;
    }

    .Beranda-DreamShop{
        margin: 30px 10px;
        background-color: #34468D;
        padding: 30px;
        border: 2px #000000 solid;
        border-radius: 15px;
        overflow: hidden;
    }

    .isi-beranda{
        display: flex;
        margin: 10px;
        justify-content: center;
    }

    .judul-Beranda{
        width: 60%;
        max-width: 650px;
        text-align: center;
    }

    .judul-Beranda img{
        width: 80%;
        max-width: 480px;
    }

    .gambar-beranda{
        padding: 10px;
        width: 60%;
        max-width: 230px;
    }

    .gambar-beranda img{
        width: 90%;
        max-width: 200px;
    }

    .subjudul-Beranda{
        margin-top: -28px;
        font-size: 20px;
        color: #77A44E;
    }

    .deks-beranda{
        Font-family: 'Quicksand', sans-serif;
        font-size: 20px;
    }

    .produk{
        display: flex;
        margin: 40px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
    }
    
    .card{
        margin: 10px;
        width: 14rem;
        border: 2px #000000 solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .button-show-more{
        text-align: center;
    }
